/* Global Styles */

* body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 300;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    scroll-behavior: smooth;
  }

  body{
    min-height: 95vh;
    display: flex;
    flex-direction: column;
  }

  a{
    color: black;
    text-decoration: none;
  }

  button{
    width: 6rem;
    height: 3rem;
    border-radius: 10%;
    background-color: white;
    margin-bottom: 1%;
    font-size: 1.1rem;
    border: 1.5px solid grey;
    cursor: pointer;
  }

  svg{
    font-size:1.3rem;
    color: black; 
    padding: 3.5% 2% 2% 3%;
  }
  
  svg:hover, .logo:hover, button:hover, select:hover, #about-link:hover, .chinese-now:hover{
    color: #a2d9fd;
    cursor: pointer;
  }

  /* Global Header Styling */
  
  .extralargetext{
    font-size: 3.5rem;
    padding: 7.5% 0% 4% 0%;
    cursor: pointer;
  }
  
  .largetext{
    font-size: 2rem;
    padding-top: 5%;
    padding-bottom: 4%;
  }
  
  .mediumtext{
    font-size: 1.5rem;
    padding: 1%;
  }
  
  .smalltext{
    font-size: 1.1rem;
  }

  .large-header{
    font-size: 4.75rem;
    margin-bottom: 1%;
  }

  @media (max-width: 768px) {
    .large-header{
      margin: 3%;
    }
  }

  .medium-header{
    font-size: 2rem;
    margin: 0.1% 1.5% 1.5% 1.5%;
  }

  #portfolio-header{
    padding-top: 1.5%;
  }

  @media (max-width: 768px) {
    .medium-header{
      padding: 2.5%;
    }
  }

  @media (max-width: 800px) {
    #about-header, #portfolio-header{
      font-size: 2.5rem;
      padding: 1.5% 2%;
    }
  }

   /* image styling */

   .image-container{
    height: auto;
    width: 60%;
    margin: auto;
    overflow: none !important;
  }

  .row-1, .row-2{
    margin: auto;
    display: block;
  }

  /* Modal styling */

.focus-image-div{
  border: 2px solid #a2d9fd;
}

.modal-dialog{
  margin-top: 10% !important;
}

.btn{
  border: none;
  background-color: orange;
  margin-top: 1%;
}

.btn:hover{
  background-color: #a2d9fd;
}

.carousel-indicators{
  display:none;
}

  /* Navbar styling */

  .navbar{
    height: 3rem;
    width: 100%;
    padding: 0.5%;
    display: flex;
    flex-direction: row;
    flex-basis: auto; 
  }

  .logo{
    margin-right: auto;
    padding-left: 2%;
  }

  .logo h3{
    font-size: 2.2rem;
  }

  .nav-items{
    margin-left: auto;
    padding-right: 4%;
    min-width: 5rem;
    margin-top: 0.5%;
  }

  option:not(:checked) {
    background-color: #fff;
  }

  .navbar select, .navbar option{
    height: 3.25rem;
    width: 7.5rem;
    font-size: 1rem;
    border-width: 2px;
    border-radius: 10%;
    padding: 10%;
    margin-top: 3%;
    background-color: white;
  }

/* landing page styling */

.homepage{
  padding-bottom: 1.75%;
}

.icon-container{
  border: 1.5px solid grey;
  border-width: 1px;
  width: 20%;
  margin: auto; 
  border-radius: 5%;
}

.chinese-now{ 
  position: relative;
  padding: 2.4%!important;
  font-size: 1.2rem;
  bottom: 0.335rem;
}

@media (max-width: 900px) {
  .icon-container{
    border: 1.5px solid grey;
    border-width: 1px;
    width: 33%;
    margin: auto; 
    border-radius: 5%;
  }
}

/* about me page styling */

.image-label-container{
  width: 40%;
  margin: auto;
  display: block;
}

.image-label-left{
  float: left;
}

.image-label-right{
  float: right;
}

.image-div{
  position: relative;
  display: inline-block;
  width:calc(30rem - 50)!important;
}

@media only screen and (max-width: 768px){
  .image-div{
    width: 7.2rem;
    height: 117.5px;
  }
}

@media only screen and (min-width: 1150px){
  .focus-image-div{
    width: 33%; 
    height: 59%;
    z-index: 9;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
    border: 0px solid black;
  }
}

/* about modal styling */

.modal-title{
  margin-left: 31%;
  font-size: 2.5rem;
  }
  
  #about-modal{
    margin-left: calc(33% + 100vw - 1024);
    bottom: calc(10vw - 50px);
  }
  
  .carousel-control-next{
    margin-left: 15%;
  }
  
  .skills-carousel-img{
    margin: 5% 0% 5% 3%;
  }

/* portfolio styling */

.portfolio .carousel-container{
  width: 60%;
  margin: auto;
  height: calc(19rem + 7.5vw - 90px);
  padding-bottom: 2%;
}

.d-block{
  height: calc(17.5rem + 7.5vw - 90px);
}

.me-btn-container{
  margin-top: 3%;
}

@media (max-width: 768px){
  .portfolio-btn{
    padding: 0% 0.1%;
  }
}

  /* footer styling */

.footer p{
  padding-top: 2.1%;
  font-size: 0.8rem;
  margin-top: auto;
  }

@media (max-width: 768px) {
  .footer p{
    padding-top: 3.1%;
  }
}

