* body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 300;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    scroll-behavior: smooth;
  }

  a{
    color: black;
    text-decoration: none;
  }
  
  body{
    min-height: 95vh;
    display: flex;
    flex-direction: column;
  }

  /* Navbar styling */

  .navbar{
    height: 3rem;
    width: 100%;
    padding: 0.5%;
    display: flex;
    flex-direction: row;
    flex-basis: auto; 
  }

  .logo{
    margin-right: auto;
    padding-left: 2%;
    position: relative;
    bottom: 50%;
    font-size: 2rem;
  }

  .nav-items{
    margin-left: auto;
    padding-right: 4%;
    min-width: 5rem;
    margin-top: 0.5%;
  }

  option:not(:checked) {
    background-color: #fff;
  }

  .navbar select, .navbar option{
    height: 3.25rem;
    width: 7.5rem;
    font-size: 1rem;
    border-width: 2px;
    border-radius: 10%;
    padding: 10%;
    margin-top: 3%;
    background-color: white;
  }

  .homepage{
    padding-bottom: 1.75%;
  }

   /* image styling */

  .image-container{
    height: auto;
    width: 60%;
    margin: auto;
  }

  img{
    padding: 0.5%;
  }

  h1{
    margin: 0%;
  }

  .large-header{
    font-size: 4.75rem;
    margin-bottom: 1%;
  }

  @media (max-width: 768px) {
    .large-header{
      margin: 3%;
    }
  }

  .medium-header{
    font-size: 2rem;
    margin-bottom: 1.5%;
  }

  @media (max-width: 768px) {
    .medium-header{
      padding: 2.5%;
    }
  }

  .row-1, .row-2{
    margin: auto;
    display: block;
  }

button{
  width: 6rem;
  height: 3rem;
  border-radius: 10%;
  background-color: white;
  margin-bottom: 1%;
  font-size: 1.1rem;
  border: 1.5px solid grey;
}

.icon-container{
  border: 1.5px solid grey;
  border-width: 1px;
  width: 20%;
  margin: auto; 
  border-radius: 5%;
}

svg{
  font-size:1.3rem;
  color: black; 
  padding: 2%;
}

svg:hover, .logo:hover, button:hover, select:hover, #about-link:hover{
  color: #a2d9fd;
}

    /* footer styling */

.footer p{
  padding-top: 2.1%;
  font-size: 0.8rem;
  margin-top: auto;
  }

@media (max-width: 768px) {
  .footer p{
    padding-top: 3.1%;
  }
}