* body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 300;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    height: 100%;
  }
  
  body{
    min-height: 95vh;
    display: flex;
    flex-direction: column;
  }