.maincontainer, .portfolio{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Global Header/Text Styling */

.extralargetext {
  font-size: 3.5rem;
  padding: 7.5% 0% 4% 0%;
  cursor: pointer;
}

.largetext {
  font-size: 2rem;
  padding-top: 5%;
  padding-bottom: 4%;
}

.mediumtext {
  font-size: 1.5rem;
  padding: 1%;
}

.smalltext {
  font-size: 1.1rem;
}

.largeheader {
  font-size: 4.75rem;
  margin-bottom: 1%;
}

@media (max-width: 768px) {
  .largeheader {
    margin: 3%;
  }
}

.mediumheader {
  font-size: 2rem;
  margin: 0.1% 1.5% 1.5% 1.5%;
}

.mediumheaderportfolio {
  font-size: 2rem;
  margin: 0.1% 1.5% 1.5% 1.5%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .mediumheader {
    padding: 2.5%;
  }
}

@media (max-width: 800px) {
  #about-header,
  #portfolio-header {
    font-size: 2.5rem;
    padding: 1.5% 2%;
  }
}

/* Global Navbar Styling */

.navbar {
  height: 3rem;
  width: 100%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
}

.logo {
  margin-right: auto;
  padding-left: 2%;
}

.logo h3 {
  font-size: 2.2rem;
}

.navitems {
  margin-left: auto;
  padding-right: 10%;
  min-width: 5rem;
  margin-top: 0.5%;
}

.navbar select,
.navbar option {
  height: 3.25rem;
  width: 7.5rem;
  font-size: 1rem;
  border-width: 2px;
  border-radius: 10%;
  padding: 10%;
  margin-top: 3%;
  background-color: white;
}

/* Global Footer Styling */

.footer {
  margin-top: auto;
}

.footer p {
  padding-top: 2%;
  font-size: 0.8rem;
  margin-top: auto;
}

@media (max-width: 768px) {
  .footer p {
    padding-top: 3%;
  }
}

/* image styling */

.imagecontainer {
  height: auto;
  width: 60%;
  margin: auto;
  overflow: none !important;
}

.row1,
.row2 {
  margin: auto;
  display: block;
}

/* Modal styling */

.modaldialog {
  margin-top: 10% !important;
}

.btn {
  border: none;
  background-color: orange;
  margin-top: 1%;
}

.btn:hover {
  background-color: #a2d9fd;
}

.carousel-indicators {
  display: none;
}

/* landing page styling */

.homepage {
  padding-bottom: 1.75%;
}

.iconcontainer {
  border: 1.5px solid grey;
  border-width: 1px;
  width: 20%;
  margin: auto;
  border-radius: 5%;
}

@media (max-width: 900px) {
  .iconcontainer {
    border: 1.5px solid grey;
    border-width: 1px;
    width: 33%;
    margin: auto;
    border-radius: 5%;
  }
}

/* about me page styling */


.imagelabelcontainertop {
  font-weight: bold;
}

.imagelabellefttop {
  display: inline-block;
  padding-right: 1%;
}

.imagelabelrighttop {
  display: inline-block;
  padding-left: 4.5%;
}

.imagelabelcontainerbottom {
  padding-top: 1.75%;
  font-weight: bold;
}

.imagelabelleftbottom {
  display: inline-block;
  padding-right: 10%;
  position: relative;
  left: 22px;
}

.imagelabelrightbottom {
  display: inline-block;
  padding-left: 3%;
}

.imagediv {
  position: relative;
  display: inline-block;
  width: calc(30rem - 50) !important;
}

@media only screen and (max-width: 768px) {
  .imagediv {
    width: 7.2rem;
    height: 117.5px;
  }
}

.aboutmeimage{
  cursor: pointer;
}

/* about modal styling */


#about-modal {
  margin-left: calc(33% + 100vw - 1024);
  bottom: calc(10vw - 50px);
}

.skillscarouselimg {
  margin: 5% 0% 5% 3%;
}

/* portfolio styling */

.portfolio .carouselcontainer {
  width: 60%;
  margin: auto;
  height: calc(19rem + 7.5vw - 90px);
  padding-bottom: 2%;
  cursor: pointer;
}

.professionalProjectsContainer{
  margin: auto;
  width: 97.5%;
  position: center;
}

.professionalProjectsContainer > div:nth-child(odd){
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.professionalProjectsContainer > div:nth-child(even){
  display: flex;
  flex: 1;  
  justify-content: flex-end;
  flex-wrap: wrap;
}

.professionalProjectsContainer > div > div:nth-child(even){
  width: 47.5%;
  padding: 5%;
}

.professionalProjectsContainer > div > div:nth-child(odd){
  width: 47.5%;
  padding: 5%;
}

.mebtncontainer {
  margin-top: 3%;
}

@media (max-width: 768px) {
  .portfoliobtn {
    padding: 0% 0.1%;
  }
}

