/* Header/Text Styling */

.largeHeader {
  font-size: 4.75rem;
  margin-bottom: 1%;
}

.mediumHeader {
  font-size: 2rem;
  margin: 0.1% 1.5% 1.5% 1.5%;
}

/* Navbar Styling */
.navbar {
  height: 3rem;
  width: 100%;
  padding: 1%;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
}

.logo {
  margin-right: auto;
  padding-left: 2%;
}

.logo h3 {
  font-size: 2.2rem;
}

.navitems {
  margin-left: auto;
  padding-right: 10%;
  min-width: 5rem;
  margin-top: 0.5%;
}

.navbar select {
  height: 3.25rem;
  width: 10rem;
  font-size: 1rem;
  border-width: 2px;
  margin-left: 0.5rem;
}

/* Footer Styling */
.footer {
  margin-top: auto;
}

.footer p {
  padding-top: 2%;
  font-size: 0.8rem;
  margin-top: auto;
}

/* image styling */
.imageContainer {
  height: auto;
  width: 60%;
  margin: auto;
  overflow: none !important;
}

.row1,
.row2 {
  margin: auto;
  display: block;
}

/* landing page styling */
.homepage {
  padding-bottom: 1.75%;
}

.iconcontainer {
  border: 1.5px solid grey;
  border-width: 1px;
  width: 20%;
  margin: auto;
  border-radius: 5%;
}

.meBtnContainer {
  margin-top: 3%;
}

/* Responsive */
@media (max-width: 768px) {
  .mediumHeader {
    padding: 2.5%;
  }
}

@media (max-width: 968px) {
  .iconcontainer {
    border: 1.5px solid grey;
    border-width: 1px;
    width: 33%;
    margin: auto;
    border-radius: 5%;
  }
}

@media (max-width: 768px) {
  .portfoliobtn {
    padding: 0% 0.1%;
  }
}

@media (max-width: 768px) {
  .largeHeader {
    margin: 3%;
  }
}

@media (max-width: 768px) {
  .footer p {
    padding-top: 3%;
  }
}
